*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}
.wrapper__user-posts {
  display: flex;
  max-width: 700px;
  /*border: 1px solid black;*/
  /*justify-content: center;*/
  margin: 20px auto;
}
.vertical__line {
  width: 1px;
  height: 500px;
  background: gray;
  margin: 0 50px 0 30px;
}

.wrapper__post {
  max-width: 800px;
  padding: 10px;
  margin-bottom: 20px;
}

.date-tag {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.date-tag span:nth-child(1) {
  margin-right: 10px;
  color: gray;
}


.date-tag span:nth-child(2) {
  color: #F59D49;
}

.wrapper__post .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper__post .text {
  line-height: 26px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.show-post a{
  color: blue;
}
.user {
  margin-right: 80px;
}
.user__img img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.user__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

.profile__user {
  display: flex;

}
.container__user {
  text-align: center;
  /*border: 1px solid black;*/
}


.user__fName-lName {
  margin-top: 20px;
  font-weight: bold;
}
.fName {
  margin-right: 5px;
}
.user__aboutMe {
  margin-top: 20px;
  text-align: left;
  line-height: 22px;
  color: gray;
}

.user__links {
  margin-top: 20px;
  text-align: left;

}

.user__links ul {
  list-style: none;
}

.list__links li {
  margin-bottom: 15px;
}

.list__links li:last-child {
  margin-bottom: 0;
}

.list__links li a {
  color: black;
}

.posts__container {
  max-width: 800px;
}
button {
  border: none;
}
.wrapper__button {
  display: flex;
  /*border: 1px solid black;*/
  justify-content: space-between;
}
.wrapper__button button {
  padding: 10px;
  cursor: pointer;
  background: none;
  color: #F59D49;
  font-weight: bold;
}
.container__button button {
  background: none;
  color: gray;
  border: 1px solid black;
  padding: 15px;
  cursor: pointer;
}

.btnNotActive {
  opacity: .5;
  cursor: default !important;
}

.wrapperClassName {
  max-width: 650px;
  margin: 0 auto;

}
.editorClassName {
  /*border: 1px solid black;*/
  background-color: lightgrey;
}